html {
  background-color: #f5f5dc;
}
.body {
  margin: 50px 350px 100px 350px;
  padding: 25px;
  align-items: center;
  background-color: #ffebcd;
  border-radius: 10px;
}

#header {
  font-family: "Nunito", sans-serif;
}

#header p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

#personal-information {
  display: flex;
  flex-direction: column;
}

label {
  font-family: "Nunito", sans-serif;
  font-size: small;
}

#name,
#email,
#number {
  height: 25px;
  border-radius: 5px;
  border-width: 1px;
  border-color: lightgray;
}

#favorite-section {
  display: flex;
  flex-direction: column;
}

#dropdown {
  height: 25px;
  border-radius: 5px;
  border-width: 1px;
  border-color: lightgray;
}

#improve-section {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}
